/* style sheet landing-page */  
/* #region*/ /*reset style*/

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/* #endregion*/
/* #region*/ /* header, hero */
header {
    background-color: #1f2937;
    display:flex;
    box-sizing: border-box;
    flex-direction: column;
}
.containerheader {
    display: flex;
    justify-content:space-between;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin:30px 15vw 20px 15vw;

}

.logo {
    display: flex;
    flex-direction:row;
    align-items:center;
    height: 50px;
    width: auto;
    gap: 5px;
    
}

.orangelogo  {
    display: flex;
    justify-content:center;
    align-items: stretch;
    box-sizing: border-box;
    background-color: transparent;
}

.vitamin {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    color:rgb(183, 190, 47);
    text-shadow:1px 5px 10px #2e2e27a5;
}

ul {
    list-style-type: none;
}
.navlinks {
    display:flex;
    align-items: center;
    font-family:system-ui, sans-serif ;
    height: 50px;
    width: auto;
    box-sizing: border-box;
    gap: clamp(10px,1vw, 20px);
    font-size: clamp(14px,1.6vw,20px);
    color:rgb(183, 190, 47);
}

a:link { 
    text-decoration: none; 
  } 
  a:visited { 
    text-decoration: none; 
  } 
  a:hover { 
    text-decoration: none; 
  } 
  a:active { 
    text-decoration: none; 
  }
  a { 
   color: rgb(165, 176, 61);  
  }

  .hero {
    background-color: #1f2937;
    padding-top: 20px;
    min-height: 440px;
    max-height: 490px;
  }
  
.container-description {
    display:flex;
    justify-content:space-between;
    box-sizing: border-box;
    flex-wrap: wrap;
    font-family:system-ui, sans-serif ;
    align-items: center;
    margin:0px 15vw 0px 15vw ;
    margin-top: clamp(1px,1vh,50px);    
}

.description {
    width: clamp(300px, 35vw, 700px);
}

.h1description { 
    color: white; 
    padding-bottom: 10px;  
    line-height: 1.1; 
    font-size: clamp(30px,3.4vw,60px);
}

.pdescription {
    color:rgb(175, 174, 174);
    margin-bottom: 3vh;
    line-height: 1.3;
    font-size: clamp(15px,2vw,18px);
    text-align: justify;
}

.orange-description {

    width: clamp(290px, 32vw, 650px);
    height: auto;
    border-radius: 4px;  
    margin-top: 50px;
    margin-bottom: 10vh;


}
.knowmore {
    background-color: #04AA6D;
    border: none;
    color: rgb(255, 255, 255);
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight:bolder;
    font-family:system-ui, sans-serif ;
    font-size: clamp(12px,0.9vw,30px) ;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    letter-spacing: 1px;
}

/* #endregion*/
/* #region*/ /*secondsection*/
.titleimg {
    text-align: center;
    font-family:system-ui, sans-serif ;
    color: rgb(21, 34, 73); 
    font-size: clamp(26px,2.8vw,55px);
    margin-top: 50px;
    margin-bottom: 50px;
}

.imgboxes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    letter-spacing:1px;
    color: rgb(99, 98, 98);
    font-weight: 400;
    text-align:start;
}

.imageone > * {
    display: flex;
    box-sizing: border-box;
    height: auto;
    width: clamp(150px, 20vw, 180px);
    border-radius: 10px;
    margin: clamp(1.5%, 1.7% , 10%); 
}
.imageone > p {
    padding: 10px;
}

.imagetwo > *{
    display: flex;
    box-sizing: border-box;
    height: auto;
    width: clamp(150px, 20vw, 180px);
    border-radius: 10px;
    margin: clamp(1.5%, 1.7% , 10%);
}
.imagetwo > p {
    padding: 10px;
}

.imagethree > * {
    display: flex;
    box-sizing: border-box;
    height: auto;
    width: clamp(150px, 20vw, 180px);
    border-radius: 10px;
    margin: clamp(1.5%, 1.7% , 10%);
}
.imagethree > p {
    padding: 10px;
}

.imagefour > * {
    display: flex;
    box-sizing: border-box;
    height: auto;
    width: clamp(150px, 20vw, 180px);
    border-radius: 10px;
    margin: clamp(1.5%, 1.7% , 10%);
}
.imagefour > p {
    padding: 10px;
    margin-bottom: 100px;
}
/* #endregion*/
/* #region*/ /*quotesection*/

.quotesection {
    display: flex;
    box-sizing: content-box;
    height: auto;
    padding: 9% 20vw 9%;
    background-color: #e1e4e7;
} 

.quote {
    display: flex;
    box-sizing: content-box;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3vw;
    letter-spacing: 0.1vw;
    font-weight: lighter;
    color: rgb(43, 43, 43);
    font-style: italic;
}

.quote > span {

    color:#040404;
    text-align: end;
    font-size: 1.5vw;
    font-weight: 600;
    margin-right: 10px;
}

/* #endregion*/
/* #region*/ /*SignUp*/

.signup {
    display: flex;
    box-sizing: content-box;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 6% 10vw 6%;
    background-color: #ffffff;
}

.signupcontainer {
    display: flex;
    box-sizing: content-box;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
    background-color: rgb(68, 139, 220);
    border-radius: 10px;
    gap: 6vw;
    width: 87%;
    height: 15vh;
}

.signupcontainer > h2 {
    flex: 1 1 0%;
}
.signupcontainer > h2 {
    flex: 1 1 70%;
}
.textsignup {
    font-size: clamp(1vw,3vh,3vw);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1.2px;
    font-weight: 100;
}

.textsignup > p {
    color: rgb(214, 222, 211);
    margin-top: .3vh;
}

.signupbutton {
    background-color: rgb(68, 139, 237);
    border: solid white 2px;
    color: rgb(255, 255, 255);
    padding: 6px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight:bolder;
    font-family:system-ui, sans-serif ;
    font-size: clamp(12px,1.5vw,30px) ;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    letter-spacing: 1px;
}
/* #endregion*/
/* #region*/ /*footer*/

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;    
    width: auto;
    text-align: justify;
    padding: 2%;    
}

.footer > p {
    color: rgb(200, 205, 223);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2vw;
}

/* #endregion*/
